<ul class="nav" role="navigation">
  <li class="dropdown">
    <a id="drop1" href="" role="button" class="dropdown-toggle" data-toggle="dropdown">{{userName()}} <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#/my/settings">Settings</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a ng-click="logout()" role="menuitem" tabindex="-1" href="">Logout</a></li>
    </ul>
  </li>
</ul>