//flex-box (the earlier 2009 implementation not the newer 2012 implementation)

@mixin display-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
}

@mixin box-orient($orient: horizontal) {
  -webkit-box-orient: $orient;
  -moz-box-orient: $orient;
  box-orient: $orient;
}

@mixin box-pack($pack: start) {
  -webkit-box-pack: $pack;
  -moz-box-pack: $pack;
  box-pack: $pack;
}

@mixin box-align($align: stretch) {
  -webkit-box-align: $align;
  -moz-box-align: $align;
  box-align: $align;
}

@mixin box-flex-group($group: 1) {
  -webkit-box-flex-group: $group;
  -moz-box-flex-group: $group;
  box-flex-group: $group;
}

@mixin box-ordinal-group($ordinal: 1) {
  -webkit-box-ordinal-group: $ordinal;
  -moz-box-ordinal-group: $ordinal;
  box-ordinal-group: $ordinal;
}

@mixin box-direction($direction: normal) {
  -webkit-box-direction: $direction;
  -moz-box-direction: $direction;
  box-direction: $direction;
}

@mixin box-lines($lines: single) {
  -webkit-box-lines: $lines;
  -moz-box-lines: $lines;
  box-lines: $lines;
}

@mixin box-flex($flex: 0) {
  -moz-box-flex: $flex;
  -webkit-box-flex: $flex;
  box-flex: $flex;
}


// General flx-box helper that encapsulates all above in a single call

//default box, orient and align
//@mixin display-flex-box {
//  @include display-box;
//  @include box-orient;
//  @include box-align;
//}

@mixin display-flex-box($orient: horizontal, $align: horizontal) {
  @include display-box;
  @include box-orient($orient);
  @include box-align($align);
}

//@mixin display-flex-box($orient, $align) {
//  @include display-box;
//  @include box-orient($orient);
//  @include box-align($align);
//}
