<pre>
{"bill_detail":{
  "name":"Equality (Marriage) (Amendment) Bill",
  "cached_votes_down":0,
  "bill_summary":{
    "id":2353,
    "body":"\u00a0\u00a0",
    "rev":0
  },
  "bill_updated_at":"2013-04-25T23:00:00Z",
  "count_posts":1,
  "cached_votes_score":1,
  "year":2013,
  "current_stage":{
    "location":1,
    "id":8119,
    "stage_date":"2013-01-29T00:00:00Z",
    "stage_url":"http://www.publications.parliament.uk/pa/cm201213/cmhansrd/cm130129/debtext/130129-0002.htm#13012946000001",
    "title":"1st reading: House of Commons 29 January, 2013",
    "stage":"1st reading"
  },
  "id":1341,
  "bill_type":3,
  "first_stage":{
    "location":1,
    "id":8119,
    "updated_at":"2013-05-28T13:16:40Z",
    "stage_date":"2013-01-29T00:00:00Z",
    "stage_url":"http://www.publications.parliament.uk/pa/cm201213/cmhansrd/cm130129/debtext/130129-0002.htm#13012946000001",
    "bill_id":1341,
    "stage":"1st reading",
    "title":"1st reading: House of Commons 29 January, 2013",
    "created_at":"2013-05-28T13:16:40Z"
  },
  "voted":"up",
  "bill_documents":[
    {
      "name":"Bill 128 2012-13 (as introduced)",
      "id":13103,
      "url_html":"http://www.publications.parliament.uk/pa/bills/cbill/2012-2013/0128/cbill_2012-20130128_en_1.htm",
      "document_date":"2013-02-27T00:00:00Z",
      "url_pdf":"http://www.publications.parliament.uk/pa/bills/cbill/2012-2013/0128/2013128.pdf"
    }
  ],
  "house":1,
  "url_details":"/bills/2012-13/equalitymarriageamendment.html",
  "cached_votes_up":1,
  "sponsors":[
    {
      "name":"Edward Leigh",
      "cached_votes_score":0,
      "count_bills":1,
      "id":6298,
      "url_photo":"http://assets3.parliament.uk/ext/mnis-bio-person/www.dodonline.co.uk/photos/25183.jpg.jpg",
      "url_details":"http://www.parliament.uk/biographies/commons/mr-edward-leigh/345",
      "party_name":"Conservative",
      "bills":[
        {
          "bill_updated_at":"2013-04-25T23:00:00Z",
          "cached_votes_down":0,
          "count_posts":1,
          "name":"Equality (Marriage) (Amendment) Bill",
          "cached_votes_score":1,
          "year":2013,
          "bill_type":3,
          "current_stage_id":8119,
          "id":1341,
          "updated_at":"2013-05-29T23:07:45Z",
          "cached_votes_up":1,
          "house":1,
          "latest_summary":null,
          "url_details":"/bills/2012-13/equalitymarriageamendment.html",
          "count_stages":1,
          "summary":null,
          "count_views":0,
          "origin":1,
          "cached_votes_total":1,
          "stage":null,
          "created_at":"2013-05-28T12:37:12Z",
          "import_status":2
        }
      ],
      "party":{
        "name":"Conservative",
        "count_lords":210,
        "id":60,
        "count_mps":305,
        "short":"Conservative"
      },
      "sponsor_type":1,
      "constituency_name":"Gainsborough",
      "email":"edward.leigh.mp@parliament.uk"
    }
  ],
  "count_stages":1,
  "bill_stages":[
    {
      "location":1,
      "id":8119,
      "stage_date":"2013-01-29T00:00:00Z",
      "stage_url":"http://www.publications.parliament.uk/pa/cm201213/cmhansrd/cm130129/debtext/130129-0002.htm#13012946000001",
      "title":"1st reading: House of Commons 29 January, 2013",
      "stage":"1st reading"
    }
  ],
  "count_views":0,
  "origin":1
}}
</pre>