#landing
  #wrap
    .hero-wrapper
      .container
        .hero-unit
          %h2 Parlmnt - A More Debatable and Open Source Version of <a href="http://services.parliament.uk/bills/2012-13.html" target="_blank">Parliament.uk</a>.
          %p.lead
            View, search and voice your opinions through comments and votes on all Bills and Acts of Parliament.
        .hero-media
          %img{:src => '/assets/pc-par.png'}

          %p
            <div class="g-plus" data-href="//plus.google.com/113873751217096887727" data-rel="publisher"></div>

    .container
      .row.features
        .span3
          %h2 Open Source
          %p Parlmnt is an Open Source project, released under the <a href="http://en.wikipedia.org/wiki/MIT_License">MIT license</a>. Find us on <a href="https://github.com/nazar/parlmnt">GitHub</a>, where open participation is more than welcome.
        .span3
          %h2 Interactive
          %p View, comment and vote on Bills, Acts, MPs and Lords; sort and filter these by several criteria including by political party and popularity.

        .span3
          %h2 Open and Free API
          %p Access our free <a href="#/api">API</a> for use in your website or applications without any restrictions.

        .span3
          %h2 Quick Registration
          %p Register in seconds; no email confirmation or names required.

      .row.call-to-action
        .span9
          %h4 Get Started in Seconds!
          %p Register to vote and comment on Bills and Acts of Parliament, MPs and Lords. Help our politicians by voicing your feedback and opinions.

        .span3
          %a#signup.btn.btn-success.btn-large.btn-block{'register-link' => ''}} Sign up for Free