<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>{{title}}</h4>
  </div>
  <form name="form" ng-submit="submit()" style="margin-bottom: 0;">
    <div class="modal-body">
      <div ng-include="template"></div>
    </div>

    <div class="modal-footer">
      <button type="reset" class="btn" ng-click="close()">Cancel</button>
      <input type="submit" id="submit" class="btn btn-primary" value="{{okButtonText}}"/>
    </div>
  </form>
</div>