<%= content_for(:sidebar) do %>
  <%= render '/templates/sponsors/sponsor_sidebar' %>
<% end %>

<%= render :layout => '/layouts/left_fixed_sidebar_fluid' do %>
  <div class="span12">
    <div id="sponsor" voteable voteable-type="Sponsor">
      <div class="vote" ng-class="{voted: sponsor.voted,  voted_up: sponsor.voted == 'up', voted_down: sponsor.voted == 'down'}">
        <div class="actions">
          <div class="action_up"><i ng-click="voteUp(sponsor)" class="icon-circle-arrow-up icon-large"></i></div>
          <div ng-bind="sponsor.cached_votes_score" class="count"></div>
          <div class="action_down"><i ng-click="voteDown(sponsor)" class="icon-circle-arrow-down icon-large"></i></div>
        </div>
      </div>
      <h1>{{sponsor.name}}</h1>

      <dl class="dl-horizontal">
        <dt ng-show="sponsor.constituency_name">Constituency:</dt>
        <dd ng-show="sponsor.constituency_name">{{sponsor.constituency_name}}</dd>
        <dt>Parliament Bio:</dt>
        <dd><a href="{{sponsor.url_details}}" target="_blank">{{sponsor.name}}</a></dd>
        <dt>Party:</dt>
        <dd>{{sponsor.party_name}}</dd>
      </dl>

      <ul class="nav nav-tabs">
        <li class="active"><a href="" data-target="#comments" data-toggle="tab">Comments({{sponsor.count_posts || 0}})</a></li>
        <li ng-show="sponsor.count_bills > 0"><a href="" data-target="#bills" data-toggle="tab">Bills({{sponsor.count_bills}})</a></li>
      </ul>

      <div class="tab-content">
        <div id="comments" class="tab-pane active" commentable="sponsor" commentable-type="Sponsor" src="sponsorCommentsPath" logged-in="loggedIn()" ></div>
        <div ng-show="sponsor.count_bills > 0" id="bills" class="tab-pane" ng-include=" '/templates/sponsors/bills' "></div>
      </div>
    </div>
  </div>
<% end %>
