<pre id="bills_json_sample">
    [{"name":"Defamation Bill",
      "bill_type":1,
      "count_views":0,
      "cached_votes_score":0,
      "current_stage":{
        "location":2,
        "stage":"3rd reading",
        "title":"3rd reading: House of Lords 25 February, 2013",
        "stage_url":"http://www.publications.parliament.uk/pa/ld201213/ldhansrd/text/130225-0001.htm#13022512000429",
        "id":4528,
        "stage_date":"2013-02-25T00:00:00Z"},
      "cached_votes_up":0,
      "house":2,
      "bill_updated_at":"2013-02-26T00:00:00Z",
      "current_stage_id":4528,
      "id":2,
      "origin":1,
      "sponsors":[{
        "name":"Kenneth Clarke",
        "sponsor_type":1,
        "id":1576,
        "url_photo":"http://assets3.parliament.uk/ext/mlo-bio-person/www.dodonline.co.uk/photos/25686.jpg.jpg",
        "count_bills":3,
        "party":{
          "count_mps":304,
          "name":"Conservative",
          "count_lords":214,
          "id":2,
          "short":"con"},
        "url_details":"/biographies/commons/kenneth-clarke/25686",
        "email":"clarkek@parliament.uk"     } , {

        "name":"Lord McNally",
        "sponsor_type":2,
        "id":2576,
        "url_photo":"http://assets3.parliament.uk/ext/mlo-bio-person/www.dodonline.co.uk/photos/27080.jpg.jpg",
        "count_bills":8,
        "party":{
          "count_mps":56,
          "name":"Liberal Democrat",
          "count_lords":90,
          "id":7,
          "short":"ld"},
        "url_details":"/biographies/lords/tom-mcnally/27080",
        "email":"mcnallyt@parliament.uk"}],

      "year":2013,
      "count_stages":18,
      "count_posts":0,
      "url_details":"/bills/2012-13/defamation.html",
      "cached_votes_down":0
    }]
  </pre>