<pre>
  {"id": 137,
  "count_views": 0,
  "cached_votes_score": 1,
  "count_stages": 1,
  "url_details": "/bills/2012-13/ageofcriminalresponsibility.html", "bill_type": 3,
  "year": 2013,
  "bill_updated_at": "2013-01-18T00:00:00Z",
  "name": "Age of Criminal Responsibility Bill",
  "origin": 2,
  "cached_votes_up": 1,
  "house": 2,
  "count_posts": 0,
  "cached_votes_down": 0

  "current_stage":
  {
    "location": 2,
    "stage": "1st reading",
    "stage_url": "http://www.publications.parliament.uk/pa/ld201213/ldhansrd/text/130116-0001.htm#13011646000396",
    "stage_date": "2013-01-16T00:00:00Z",
    "title": "1st reading: House of Lords 16 January, 2013",
    "id": 813
  },

  "bill_documents":
  [
    {
      "url_html": "http://www.publications.parliament.uk/pa/bills/lbill/2012-2013/0074/lbill_2012-20130074_en_1.htm",
      "url_pdf": "http://www.publications.parliament.uk/pa/bills/lbill/2012-2013/0074/20130074.pdf",
      "document_date": "2013-01-17T00:00:00Z",
      "name": "HL Bill 74 2012-13, as introduced",
      "id": 1342
    }
  ],

  "bill_stages":
  [
    {
      "location": 2,
      "stage": "1st reading",
      "stage_url": "http://www.publications.parliament.uk/pa/ld201213/ldhansrd/text/130116-0001.htm#13011646000396",
      "stage_date": "2013-01-16T00:00:00Z",
      "title": "1st reading: House of Lords 16 January, 2013",
      "id": 813
    }
  ],

  "sponsors":
  [
    {
      "url_photo": "http://assets3.parliament.uk/ext/mlo-bio-person/www.dodonline.co.uk/photos/26795.jpg.jpg",
      "email": "dholakian@parliament.uk",
      "sponsor_type": 2,
      "count_bills": 2,
      "url_details": "/biographies/lords/navnit-dholakia/26795",
      "party": {
        "short": "ld",
        "name": "Liberal Democrat",
        "count_mps": 56,
        "id": 7,
        "count_lords": 90
      },
      "name": "Lord Dholakia",
      "id": 2296
    }
  ],

  "bill_summary":
  {
    "body": "A bill to raise the age of criminal responsibility; and for connected purposes.",
    "rev": 0,
    "id": 137
  }
 }
</pre>