<pre>
  {
    "url_photo": "http://assets3.parliament.uk/ext/mlo-bio-person/www.dodonline.co.uk/photos/35516.jpg.jpg",
    "email": "adam.afriyie.mp@parliament.uk",
    "cached_votes_score": 1,
    "sponsor_type": 1,
    "name": "Adam Afriyie",
    "id": 1469,
    "count_bills": 1,
    "url_details": "/biographies/commons/adam-afriyie/35516",

    "bills": [
    {
      "name": "Parliamentary Standards (Amendment) Bill",
      "id": 713
    }
    ],

    "party": {
      "short": "con",
      "name": "Conservative",
      "count_mps": 304,
      "id": 2,
      "count_lords": 214
    }
  }
</pre>