#sponsors {

  position: relative;

  .ac > article, .ac > div { padding-bottom: 0;  }

}


#sponsor {

  position: relative;

  h1 {
    font-size: 24px;
  }

  .vote {
    float: left;
    margin: -5px 15px 10px 0;
  }

}

.sponsor-info {

  img {
    padding: 1px;
    border: 1px solid silver;

    &.s-labour{
      border: 2px solid #c41230;
    }
    &.s-conservative{
      border: 2px solid #037fb2;
    }
    &.s-liberal-democrat{
      border: 2px solid #fbb724;
    }
  }

}