.charts-sidebar{
  li {
    padding-bottom: 8px;
  }
  a {
    padding: 6px;
  }
  .active {
    border: 1px solid silver;
    padding: 5px;
    border-radius: 3px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

#chart-container{
  min-width: 400px;
  width: 90%;
  height: 500px;
  margin: 0 auto;
}