body {
  padding-top: 60px;
  //padding-bottom: 40px;
}

hr {
  margin-bottom: 3px;
}

footer p {
  text-align: center;
  font-size: 12px;
}



.left {
  float:left;
}



#page-content {
  min-height: 700px;
}



@font-face {
  font-family: 'harabara';
  src: url('/assets/harabara.ttf');
}



#footer {
  clear: both;
  margin-top: 60px;
  background: none repeat scroll 0 0 #F9F9F9;
  border-top: 1px solid #F0F0F0;

  .container {
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 11px;
    text-align: center;
  }
}
