body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.left {
  float:left;
}

footer p {
  text-align: center;
  font-size: 12px;
}

hr {
  margin-bottom: 3px;
}

@font-face {
  font-family: 'harabara';
  src: url('/assets/harabara.ttf');
}


