<article typeof="Article">
  <div class="image-feat">
    <div class="vote" ng-class="{voted: bill.voted,  voted_up: bill.voted == 'up', voted_down: bill.voted == 'down'}">
      <div class="actions">
        <div class="action_up"><i ng-click="voteUp(bill)" class="icon-circle-arrow-up icon-large"></i></div>
        <div ng-bind="bill.cached_votes_score" class="count"></div>
        <div class="action_down"><i ng-click="voteDown(bill)" class="icon-circle-arrow-down icon-large"></i></div>
      </div>
    </div>
  </div>

  <header>
    <a ng-href="#/bills/{{bill.id}}"><h4 class="title">{{bill.name}}</h4></a>
  </header>

  <div class="content" property="articleBody">
    <p class="summary">
      {{strippedSummary(bill)}}
    </p>
  </div>

  <footer style="margin-left:35px;">
    <ul class="meta">
      <li property="datePublished">Updated: {{bill.bill_updated_at | date:'mediumDate'}}</li>
      <li property="stage">Stage: {{billStage(bill.current_stage)}}</li>
      <li property="type">Type: {{billType(bill.bill_type)}}</li>
      <li property="origin">Origin: {{billOrigin(bill.origin)}}</li>
      <li property="userInteraction">{{countComments(bill.count_posts)}}</li>
      <li sponsor-links sponsors="bill.sponsors"></li>
    </ul>
  </footer>
</article>
