<%= content_for(:sidebar) do %>
  <%= render '/templates/bills/bill_sidebar' %>
<% end %>

<%= render :layout => '/layouts/left_fixed_sidebar_fluid' do %>
  <div class="span12">
    <div id="bill" voteable voteable-type="Bill">
      <div class="vote" ng-class="{voted: bill.voted,  voted_up: bill.voted == 'up', voted_down: bill.voted == 'down'}">
        <div class="actions">
          <div class="action_up"><i ng-click="voteUp(bill)" class="icon-circle-arrow-up icon-large"></i></div>
          <div ng-bind="bill.cached_votes_score" class="count"></div>
          <div class="action_down"><i ng-click="voteDown(bill)" class="icon-circle-arrow-down icon-large"></i></div>
        </div>
      </div>
      <h1><a href="http://services.parliament.uk{{bill.url_details}}" target="_blank">{{bill.name}}</a></h1>

      <dl class="dl-horizontal">
        <dt>First Started:</dt>
        <dd>{{bill.first_stage.stage_date | date:'mediumDate'}} ({{daysAgo(bill.first_stage.stage_date)}})</dd>
        <dt>Last Updated:</dt>
        <dd>{{bill.bill_updated_at | date:'mediumDate'}}</dd>
        <dt>Started In:</dt>
        <dd>{{billOrigin(bill.origin)}}</dd>
        <dt>Bill Type:</dt>
        <dd>{{billType(bill.bill_type)}}</dd>
        <dt>Current Stage:</dt>
        <dd>{{billStage(bill.current_stage)}}</dd>
      </dl>

      <ul class="nav nav-tabs">
        <li class="active"><a href="" data-target="#summary" data-toggle="tab">Summary</a></li>
        <li><a href="" data-target="#comments" data-toggle="tab">Comments({{bill.count_posts || 0}})</a></li>
        <li ng-show="bill.count_stages > 0"><a href="" data-target="#stages" data-toggle="tab">Stages({{bill.count_stages}})</a></li>
        <li ng-show="bill.bill_documents.length > 0"><a href="" data-target="#documents" data-toggle="tab">Documents({{bill.bill_documents.length || 0}})</a></li>
      </ul>

      <div class="tab-content">

        <div id="summary" class="tab-pane active">
          <p ng-bind-html-unsafe="bill.bill_summary.body"></p>
        </div>

        <div id="comments" class="tab-pane" commentable="bill" commentable-type="Bill" src="billCommentsPath" logged-in="loggedIn()"></div>

        <div ng-show="bill.count_stages > 0" id="stages" class="tab-pane" ng-include=" '/templates/bill_stages/bill_stages' "></div>

        <div ng-show="bill.bill_documents.length > 0" id="documents" class="tab-pane" ng-include=" '/templates/bill_documents/bill_documents' "></div>

      </div>
    </div>
  </div>
<% end %>
