#search {

  height: 20px;
  padding-top: 5px;
  padding-left: 10px;

  .popover-content {
    padding: 0;
  }

  .popover {
    max-width: 350px;
    left: 880px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px dotted silver;
      padding: 2px 5px 2px 5px;

      &.header {
        font-weight: bold;
      }
    }

    &.group {
      width: 350px;
    }
  }
}