#search {

  .popover-content {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px dotted silver;
      padding: 2px 5px 2px 5px;
    }
  }
}