#register-modal {

  .title {
    padding-bottom: 20px;
  }

  div.intro {

    .caption {
      font-size: 10px;
    }
  }

  div.auth {
    text-align: center;
    padding-right: 20px;
  }

}

#registered {
  img.avatar {
    height: 16px;
  }
}

.session #register {
  font-size: 12px;
}
