.votes {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;

  .vote {
    padding-left: 3px;
    padding-right: 3px;

    .actions {
      & > div{
        height: 14px;
      }

      i {
        display: block;
        opacity: 0.25;
        width: 14px;
        height: 14px;
        margin: auto;
      }

      i:hover {
        cursor: pointer;
        opacity: 1.0;
      }
      .count {
        text-align: center;
        font-weight: bold;
        line-height: 14px;
        width: auto;
      }
    }

  }
}
