!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    = csrf_meta_tags

    = stylesheet_link_tag 'application'

    %link{:href => "favicon.ico", :rel => "shortcut icon"}

    -#%link{:href => "../assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    -#%link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    -#%link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    -#%link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    = javascript_include_tag 'application'

  %body
    #navbar

    =yield

    %hr
      %footer
        %p © Palmnt.com - Legislation Data and Sponsor Images extracted from <a href="http://parliament.uk">parliament.uk</a>

