!!! 5
%html{:lang => 'en', 'ng-app' => 'parlmnt', 'ng-controller' => 'applicationController'}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}


    = csrf_meta_tags

    = stylesheet_link_tag 'application'

    %link{:href => "favicon.ico", :rel => "shortcut icon"}

    -#%link{:href => "../assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    -#%link{:href => "../assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    -#%link{:href => "../assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    -#%link{:href => "../assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <title ng-cloak>{{appTitle}}</title>

  %body
    #navbar
      =render 'layouts/navbar'

    %div{:id => 'application', 'ng-view' => '', 'ng-animate' => "'fadefull'"}

    #footer
      .container
        .row
          .span12
            parlmnt.com is registered to <a href="http://panthersoftware.com" target="_blank">Panther Software</a>. Contains Parliamentary information licensed under the Open <a href="http://www.parliament.uk/site-information/copyright/open-parliament-licence/" target="_blank">Parliament Licence v1.0</a>. Opinions expressed through comments are solely those of our members.

    = render :partial => 'layouts/piwik'
    = javascript_include_tag 'application'
